                                        /* GENERAL */
* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}

body {
    background-color: black;
}

.invisible{
    opacity: 0;
}


/* weel counter */
/* .Time  {
    position: fixed;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.098);
    border-radius: 60px;
    padding: 18px 25px;
    margin-top: 54%;
    margin-left: 95%;
    background-color: rgba(0, 0, 0, 0.152);
    font-size: 35px;
    font-weight: 100;
    opacity: .6;
    z-index: 1;
} */


/* >login & >Reginster *//* login & Reginster *//* login & Reginster *//* login & Reginster */
/* experimental */
.blur {
    position: absolute;
    backdrop-filter: blur(10px);
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 0.90;
    z-index: 20;
}

.loginReginsterBox {
    position: relative;
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 51%;
    top: 27%;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.349);
    opacity: 1;
    z-index: 30;

    /* transition-delay: 1s; */
}

.loginReginsterBox .colorLayer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0px;
    background-color: rgba(251, 224, 242, 0.116);
}


#jumbo p  {
   
    position: fixed;
  
    margin-left: 0%;
    color:  rgba(209, 253, 219, 0.356);
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 5px rgba(128, 240, 178, 0.123);
    letter-spacing: 0.1em;
    font-weight: lighter;
    font-size: 40px;
    opacity: 0.8;
    z-index: 100;

}
#jumbo p:hover {
    opacity: 1;
    color:  rgba(209, 253, 219, 0.835);

    transition-duration: .2s;

}
.p1{
    position: absolute;
    top: -10%;
    left: 10%;
    padding-top: 0px;
}

.p2{
    position: absolute;
    top: 5%;
    left: 10%;
    padding-top: 0px;
}
.loginReginster  .text:hover {
    color: rgba(0, 0, 0, 0.767);
    transition-duration: 1s;
}

.loginReginsterInputs {
    position: absolute;
    /* text-align: center; */
    margin-top: 0px;
    margin-left: 0px;
   
    opacity: .5;
    z-index: 100;
}
.loginReginsterInputs input{
    
    backdrop-filter: blur(5px);
    color: rgb(0, 0, 0);
    background-color: rgba(128, 240, 178, 0.123);
    height: 37px;
    padding: 6px 2px; 
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 5px rgba(128, 240, 178, 0.267);
    box-shadow: -10px 10px 50px rgba(128, 240, 178, 0.267);
    border-radius: 7px;
    font-size: x-large;
    font-weight: 100;

    
}
.loginReginsterInputs input:focus:invalid {
    color: lawngreen;
    border-color: white;
}
.loginReginsterInputs input:focus:valid {
    color: lawngreen;
    border-color: white;
}
.loginReginsterInputs input:hover {
    border-color: rgba(209, 253, 219, 0.781);
}
.loginReginsterInputs input:focus {
    border-color: white;
}

.loginReginsterInputs input::-webkit-input-placeholder {
    color: 1px solid rgba(130, 153, 121, 0.842);
    letter-spacing: 0.1em;
    opacity: 1;
   
}
.loginReginsterInputs input:hover::-webkit-input-placeholder {
    rgba(209, 253, 219, 0.548);
    opacity: 1;
    transition-duration: 0.7s;
}
.loginReginsterInputs input:hover:focus::-webkit-input-placeholder {
   
    opacity: 0;
    transition-duration: 0.5s;
}

.inputA[type=email]{
    
    position: absolute;
    width: 500px;
    bottom: 100%;
    
    padding-left: 10px;
    color: white;
}
.inputA:hover {
    opacity: 1;
    border: 1px solid rgba(0, 0, 0, 0.918);
}
.inputB[type=password] {
    position: absolute;
    font-style: italic;
    width: 500px;
    top: 5%;
    /* left: 10%; */
    
   
    
    padding-left: 10px;
    color: white;

}
.inputB:hover {
opacity: 1;
border: 1px solid rgba(0, 0, 0, 0.918);

}
/* up *//* up *//* up *//* up *//* up *//* up *//* up *//* up *//* up *//* up *//* up *//* up *//* up */
.upMenu {
    position: fixed;
    border: 1px solid pink;
    margin-top: -1px;
    margin-left: 80%;
    width: 20%;
    height: 8%;
    opacity: 0;
    z-index: 10;
}
.upMenu:hover {
    opacity: 1;

}
.upMenu p {
    position: fixed;
    color:  rgba(209, 253, 219, 0.356);
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 5px rgba(128, 240, 178, 0.514);
    letter-spacing: 0.1em;
    font-weight: lighter;
    font-size: 35px;
    margin-top: 1%;
    margin-left: 2%;
    opacity: 0.7;
    z-index: 100;
}
.upMenu p:hover {
    opacity: 1;
    color:  rgba(255, 255, 255, 0.883);
    text-shadow: 2px 2px 5px rgba(1, 61, 28, 0.514);
    transition: opacity 1s, color 2s;
}
  
.upMenu #out {
    margin-top: 2%;
    margin-left: 90%;
}
.introMenu {
    position: fixed;
    text-decoration: none;
    color:  rgba(209, 253, 219, 0.356);
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 5px rgba(128, 240, 178, 0.514);
    letter-spacing: 0.1em;
    font-weight: lighter;
    font-size: 35px;
    left: 80%;
    z-index: 100;
}





#home{
    
    /* display: inline; */
    margin-top: 2%;
    margin-left: 80%;
    opacity: 0.7;
    z-index: 100;
}

#register{
    
    margin-top: 2%;
    margin-left: 90%;
    opacity: 0.4;
    z-index: 100;
}
#login{
    
    /* display: inline; */
    margin-top: 2%;
    margin-left: 90%;
    opacity: 0.4;
    z-index: 100;
}


/* >left menu *//* left menu *//* left menu *//* left menu *//* left menu *//* left menu *//* left menu */
.leftMenu {
    position: fixed;
    width: 0.5%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color:rgb(19, 18, 18);
    border: 1px solid black;
    opacity: 0;
    z-index: 100;
    transition-duration: 0.4s;
    /* transition-delay: 1s; */
}
.leftMenu:hover {
    width: 25%;
    /* width: 12.5%; */
    opacity: .83;
    transition: width 0.5s, opacity 3.3s;
    /* transition-delay: 1s; */
    
}
/* >li */
#livingroomInput {
    color:rgba(248, 212, 230, 0.411);
    backdrop-filter: blur(3px);
    background-color: rgba(113, 116, 114, 0.123);
    border: 1px solid rgba(255, 255, 255, 0.219); 
    width: 83%;
    height: 37px;
    margin-top: 82%;
    margin-left: 5%;
    padding: 6px 2px; 
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 5px rgba(128, 240, 178, 0.171);
    box-shadow: -10px 10px 50px rgba(128, 240, 178, 0.109);
    border-radius: 7px;
    font-size: x-large;
    font-weight: lighter;
    opacity: 1;
    
}
::selection {
    background-color: #222;
    color: white;
}

#livingroomInput:hover {
    color: rgba(255, 255, 255, 0.507);
    background-color: black;
    
    border: 1px solid rgba(255, 255, 255, 0.602); 
}
#livingroomInput:focus {
    color: rgba(255, 255, 255, 0.988);
    color: lawngreen;
  
}


.memoryBox {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    order: 3; 
    align-items: stretch;
    flex-wrap: wrap; 
    /* flex-grow: 1; */
}
.memoryButtons  {
    backdrop-filter: blur(5px);
    color:rgba(255, 240, 247, 0.707);
    background-color: rgba(113, 116, 114, 0.123);
    /* background-color:rgb(19, 18, 18); */
    border: 1px solid rgba(255, 255, 255, 0.55); 
    font-style: italic;
    /* letter-spacing: 2em; */
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 100;
    width: 50px;
    height: 40px;
    border-radius: 50px;
    margin-top: 7%;
    left: 5%;
    opacity: 0.8;
}
#livingroomButton {
    width: 50px;
    height: 40px;
}
.memoryButtons:hover {
    color:rgba(187, 255, 177, 0.865);
    background-color: black;
    border: 1px solid white;
    transition-duration: 0.4s;
}

.checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    color:rgb(250, 12, 131);
    background-color: rgba(0, 0, 0, 0.418);
    border: 1px solid rgb(254, 248, 87);
    border-radius: 50px;
    top: 30%;
    left: 85%;
    opacity: 0.4;
    transition: background-color 5s, opacity 2s;    
}
.checkbox:hover {
    opacity: 0.9;
    background-color:rgba(85, 83, 17, 0.632);

    
    transition: background-color 5s, opacity 2s ; 
}

.checkbox:checked:after {
    bottom:-4px;
    left: -10px;
    color:rgb(250, 12, 131);
    content: "\2713"; 
}
 .backgroundButton {

    color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(2px);
    background-color: rgba(113, 116, 114, 0.123);
    border: 1px solid rgba(255, 255, 255, 0.219); 
    width: 83%;
    height: 37px;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 6px 2px; 
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 5px rgba(128, 240, 178, 0.096);
    box-shadow: -10px 10px 50px rgba(128, 240, 178, 0.137);
    border-radius: 7px;
    font-size: x-large;
    font-weight: lighter;
    opacity: 1;
    transition-duration: 0.4s;
    width: 83%;
    height: 37px;
}
.backgroundButton:hover {
    color: rgba(187, 255, 177, 0.865);
    border: 1px solid rgba(255, 255, 255, 0.865);
    
    transition: color 0.4s, border 0.5;
}
/* not used */
#backgroundSound {
    z-index: 3;
    background-color:rgb(19, 18, 18);
    color: rgba(255, 255, 255, 0.349);
    border: 1px solid rgba(255, 255, 255, 0.568); 
    width: 85%;
    height: 37px;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
}

/* >rightPanet *//* rightPanet *//* rightPanet *//* rightPanet *//* rightPanet */

.rightPanel {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 3px;
    left:  99.9%;
    right: 0;
    opacity: 0;
    z-index: 100;
}
 .rightPanel:hover {
    width: 100%;
    left: 0%;
    /* right: 3; */
    opacity: 1;
    transition: left 0.8s, opacity 3.5s;
} 
#rightPanel {
    width: 100%;
    height: 100%;
}

  
/* >iframes  *//* iframes  *//* iframes  *//* iframes  *//* iframes  *//* iframes  */

.video-container iframe {
    /* position: relative; */
    top: 0;
    left: 0;
  
}

.inline {
    display: inline;
}
/* vh */
.loop {
    position: absolute;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: center;
    z-index: 2;
}

@media (min-width: 0px){
    .loop {
        border: 1px solid rgba(255, 0, 128, 0);
    }
    #videoBox {
        position: relative;
        width:  459.2px;
        height: 258.3px;
    }
}
@media (min-width: 1050px){
    .loop {
        border: 1px solid rgba(43, 255, 0, 0);
    }
    #videoBox {
        position: relative;
        width:  348px;
        height: 195.3px;
    }
}
@media (min-width: 1180px){
    .loop {
        border: 1px solid rgba(68, 0, 255, 0);
    }
    #videoBox {
        position: relative;
        width:  392px;
        height: 220.5px;
    }
}
@media (min-width: 1300px){
    .loop {
        border: 1px solid rgba(255, 196, 0, 0);
    }
    #videoBox {
        position: relative;
        width:  431.2px;
        height: 242.55px;
    }
}
@media (min-width: 1406px){
    .loop {
        border: 1px solid rgba(0, 238, 255, 0);
    }
    #videoBox {
        position: relative;
        width: 464.8px;
        height: 261.45px;
    }
}
@media (min-width: 1506px){
    .loop {
        border: 1px solid rgba(255, 72, 0, 0);
    }
    #videoBox {
        position: relative;
        width: 498.4px;
        height: 280.35px;
    }
}
@media (min-width: 1603px){
    .loop {
        border: 1px solid rgba(0, 255, 136, 0);
        
    }
    #videoBox {
        position: relative;
        width: 532px;
        height: 299.25px;
    }
}
@media (min-width: 1660px){
    .loop {
        border: 1px solid rgba(255, 0, 179, 0);

    }
    #videoBox {
        position: relative;
        width: 554px;
        height: 311.85px;
    
      
    }
}

.loop iframe {
    width: 100%;
    height: 100%;
}

.loop .controlButtons {
    position: absolute; 
    border: 1px solid rgba(0, 0, 0, 0.199);
    width: 6%;
    height: 8.6%;
    opacity: 1;
}
.loop .controlButtons:hover {
    opacity: 1;
}

.input {
    position: relative;
    height: 100%;
    opacity: 1;
}
.input:hover {
    opacity: 1;
}

#inputUrl {
    position: absolute;
    color: rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.098);
    background-color: rgba(128, 240, 178, 0.76);
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
    width: 68%;
    height: 8%;
    margin-top: -37%;
    margin-left: 14%;
    /* transition-duration: 0.4s; */
    opacity: 0;
    z-index: 2;
}
#inputUrl:hover {
    opacity: 0.45    ;
}
#inputUrl:focus {
    background-color: rgba(128, 240, 178, 0.76);
    transition-duration: 0.3s;
    opacity: 1;
}


#checkAutoplay {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: -37%;
    margin-left: 7%;
    background-color:  rgba(240, 128, 225, 0.582);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    opacity: 0;
}
#checkAutoplay:hover {
    border: 1px solid rgba(0, 0, 0, 0.205);
    opacity: 1;
    transition: border 3s, opacity 1s;
    
}
#checkAutoplay:checked:after {
    bottom:0px;
    right:  -10px;
    top: 2px;
    color: rgb(255, 255, 255);
    content: "\2713"; 
}


#enderLink {
    margin-top:-37%;
    margin-left: 82.4%;
    height: 8.8%;
    background-color:  rgba(0, 254, 0, 0.623);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 0px;
    opacity: 0;
}
#enderLink:hover {
    background-color: rgb(9, 246, 116);
    opacity: 1;
}


#smallBackground{
    margin-top: -113.2%;
    margin-left: 6%;
    background-color:  rgba(110, 250, 110, 0.623);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 3px;
    opacity: 0;
}
#smallBackground:hover {
    opacity: 1;
    border: 1px solid rgb(255, 255, 255);

    transition: opacity 0.1s, border 4s ease-in;
}

#smallDelete{
    margin-top: -113.2%;
    margin-left: 0%;
    background-color:  rgba(251, 95, 95, 0.671);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 3px;
    opacity: 0;
}
#smallDelete:hover {
    opacity: 1;
    border: 1px solid rgb(255, 255, 255);

    transition: opacity 0.1s, border 4s ease-in;

}





/*  */

.secondBox {
    position: relative;

    border: 1px solid rgba(0, 0, 0, 0.844);
    width: 100%;

    /* this is the crusial factor */
    height: 3000px;
    /* height: 2500px; */
    top :6000px;
    /* bottom: 300px;
    padding-bottom: 400px; */
    z-index:1;
}

.krosia p{
    position: absolute;
    color: black;
    letter-spacing: 0.1em;
}
#krosiaUp {
    /* top: 305%; */
    color: black;
}
#krosiaDown {
    /* top: 308%; */
    color: black;
}
 
#animationBox {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 90;
    transition-duration: 0.8s;
    opacity: 0;
}
#animationBox:hover {
    transition-duration: 0.8s;
    opacity: 0.99;
}

#invisibleBox {
    position: absolute;
    
    width: 100%;
    height: 100%;
    border: none;
    transition-duration: 0.8s;
    opacity: 0.1;
}
#invisibleBox:hover {
    transition-duration: 0.8s;
    opacity: 1;
}


/* >background */
#backgroundVideo {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 0;

    
}
/* /// */







